:root {
    font-size: 20px;
}

body {
    background: url("../picture/backgrounds/index.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

header>nav {
    align-items: center;
    text-align: center;
    list-style: none;
    background-color: #4682B4;
    padding: 5px;
    font-size: 1.3rem;
}

header #logo {
    width: 2.3rem;
    margin: auto;
}

@media (min-width: 769px) {
    header>nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr 2fr 2fr 1fr 1fr);
    }
    header>#phoneMenu {
        display: none;
    }
}

@media screen and (max-width: 768px),
(orientation: portrait) {
    header>nav {
        display: flex;
        flex-direction: column;
    }
    header>nav>li {
        margin: 5px 0;
    }
    header>nav {
        display: none;
    }
}